.tee-admin-wrap .tee-settings-section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccd0d4;
    border-top: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.tee-admin-wrap .nav-tab-wrapper {
    margin-bottom: 0;
}

.tee-admin-wrap .tee-settings-section h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.tee-admin-wrap table.wp-list-table input[type="number"] {
    width: 60px;
}

.tee-admin-wrap .remove-rule {
    color: #a00;
}

.tee-admin-wrap .remove-rule:hover {
    color: #f00;
}